- if @user == current_user
  %h1 My profile
- else
  %h1= "#{@user.decorate.display_full_name}'s  profile"

%h5 Email:
%p= @user.email

%h5 Name:
%p= @user.decorate.display_full_name

%h5 Locations:
%p= @user.locations

%h5= link_to 'Library', user_books_path(@user)
%br

- if policy(@user).edit?
  = link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary'
