#page-content-wrapper.w-100.h-100
  %h1.text-center.mb-5 Welcome to Book Swap App

  = render 'form'

  .mt-5.border.rounded-lg.shadow-sm
    %table.table.all-books
      %thead.thead-light
        %tr
          %th.p-3 Author
          %th.p-3 Title
          %th.p-3 Owner
          %th.p-3 Status
      %tbody
        - @all_books.each do |book|
          %tr
            %td.p-3= book.first_name + ' ' + book.last_name
            %td.p-3= link_to book.title, user_book_url(book.user, book)
            %td.p-3= link_to book.user.decorate.display_full_name, user_url(book.user)
            %td.p-3= book.status
