= simple_form_for [@user, @book] do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-group
    = f.input :title, class: 'form-control'
    = f.simple_fields_for :author do |p|
      = p.input :first_name, class: 'form-control'
      = p.input :last_name, class: 'form-control'
    = f.input :description,  as: :text, class: 'form-control'
    = f.input :release_date, label: 'Published Date', as: :date, start_year: Date.today.year - 60, end_year: Date.today.year, discard_day: true, discard_month: true, class: 'form-control'
    = f.input :isbn13, label: 'ISBN 13', placeholder: 'Numbers only'
    = f.input :isbn10, label: 'ISBN 10', placeholder: 'Numbers only'
    = f.input :status, collection: ['available', 'reserved', 'borrowed']

  .form-group
    = f.submit 'Save', class: 'btn btn-primary'
    - cancel_path = @book.new_record? ? user_books_path(@user) : user_book_path(@user, @book)
    = link_to 'Cancel', cancel_path, class: 'btn btn-primary'
