%h1= @book.title

%h2= @book.author

%p= @book.description

%p= @book.status

= simple_form_for [@book.user, @book], method: :put do |f|
  = f.hidden_field :status, value: "reserved"
  = f.hidden_field :borrower_id, value: current_user.id
  = f.submit reservation_button_label(@book), class: 'reservation-btn btn btn-primary'

- if policy(@book).edit?
  = link_to 'Edit', edit_user_book_path(@user, @book), class: 'btn btn-primary'

- if policy(@book).destroy?
  = link_to 'Delete', user_book_path(@user, @book), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary'
