= "Hi #{@owner.first_name},"
=============================

= "your book #{@book.title} has been reserved by #{@borrower.first_name} #{@borrower.last_name}. Please, contact him/her via #{@borrower.email} to arrange book handover."
================================================================================================
Yours BookSwapApp
